/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #000000;
  font-family: "Montserrat", sans-serif;
}

/* Header */
.header {
  display: flex;
  justify-content: space-between;
  margin: 25px;
}

.header__logo {
  width: 200px;
}

.header__user {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}

.header__img {
  width: 120px;
  border-radius: 100px;
}

.header__text {
  font-size: 18px;
}

.menu {
  display: flex;
  justify-content: center;
  padding: 8px;
  gap: 450px;
  background: linear-gradient(to bottom, #fcd2dc, #ffffff, #c6e7f7);
}

.material-symbols-outlined {
  font-size: 40px;
  cursor: pointer;
}

/* Main */
.content {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 20px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  cursor: pointer;
}

.card:hover {
  transform: scale(1.05);
}

.card {
  display: grid;
  grid-template-columns: 250px auto;
  align-items: center;
  background: linear-gradient(to bottom, #fcd2dc, #ffffff, #c6e7f7);
  border-radius: 10px;
  padding: 20px;
  gap: 20px;
}

.card__img {
  width: 150px;
  border-radius: 100%;
  margin-left: 50px;
}

p {
  font-size: 24px;
  padding: 20px 0;
  place-items: center;
}
